@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

$bg-color: #F9FBFA;
$eden-font: 'Source Serif Pro', serif;
$gray: #ADADAD;
$pink: #FC7978;
$blue: #4ECDCB;
$yellow: #FDD782;


html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

/**** NAVBAR ****/

nav {
  background-color: $bg-color;
  width: 100%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $eden-font;
  display: inline-block;
  font-size: 25px;

  a {
    text-decoration: none;
    color: #000;
  }
}

.current {
  color: #000;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: $gray;
  }

  &:hover a {
    color: #000;
  }
}


li {
  padding: 10px 30px;
}

li a {
  text-decoration: none;
}


.container {
  padding: 8em 12em;
}

/**** HERO SECTION ****/

.hero {
  background-image: url(../img/hero-plant.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 90vh;
  
  .container {
    display: flex;
  }
  
  .caption {
    flex: 3;
  }

  h1 {
    line-height: 0.9;
    font-family: $eden-font;
    font-size: 3.5em;
    width: 30%;
  }

  p {
    margin-top: 50px;
    width: 25%; 
  }

  .button-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-care {
    background-color: $pink;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
  }
}


/**** GUIDES SECTION ****/ 

.guides {
  text-align: center;

  h1 {
    font-family: $eden-font;
    font-size: 2.3em;
    margin: 30px auto 50px;
    width: 45%;
    text-align: center;
  }

  i.far, i.fas {
    font-size: 2em;
    display: inline-block;
    border-radius: 50px;
    padding: 0.6em;
  }
}